$base-color: #00467f;

@font-face { // Fuente similar a la de ITESO
    font-family: 'Mart';
    src: local('Mart'), url(./assets/fonts/Mart.woff) format("truetype");
}

a:visited, h2 {
    color: $base-color;
}

.defaultFont {
    font-family: Arial, Helvetica, sans-serif;
}