<h2>Listado de Noticias</h2>

<form (submit)="buscar()">
    <input type="text" name="queryTerm" placeholder="Buscar..." [(ngModel)]="search" >
    <button [disabled]="!search">Buscar</button>
</form>

<p *ngIf="cargando">Cargando...</p>
<h2>Resultados de {{lastSearch | myUpperCase}}</h2>

<div class="panel">
    <div>
        <app-noticias-list [searchTerm]="noticias" [selected]="current" (onSelect)="setCurrent($event)"></app-noticias-list>
    </div>
    <div>
        <app-noticia-details [item]="current" (onClear)="clearCurrent()"></app-noticia-details>
    </div>
</div>